html,
body {
  height: 100vh;
  margin: 0;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#lightblue {
  background-color: lightblue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}
