#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#lightblue {
  background-color: lightblue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

.firstHeight {
  height: 10vh;
}

.secondHeight {
  height: 80vh;
}

.thirdHeight {
  height: 10vh;
}

.multiColor {
  height: 10vh;
}