body {
  padding: 0;
  margin: 0;
  font-family: "Verdana";
}

a {
  text-decoration: none;
}
.top-bar {
  background: linear-gradient(to right, #f77b2e 0%, #fac85d 51%, #f77b2e 100%);
  padding: 0.5rem 0;
}
.float-right {
  float: right;
}
.navbar {
  border-bottom: 5px solid #f77b2e;
  background-color: #fff;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #f77b2e !important;
}

.navbar-collapse {
  justify-content: flex-end;
}  
