.none, .wrong, .right {
    border: 0;
    border-radius: 10px;
}

.none {
    background-color: rgb(211, 211, 211);
}

.none:hover {
    background-color: grey;
}

.wrong {
    background-color: rgb(255, 167, 167);
}

.right {
    background-color: rgb(158, 255, 158);
}

.wrong:hover {
    background-color: rgb(248, 103, 103);
}

.right:hover{
    background-color: rgb(99, 255, 99);
}